<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.chabok_feature">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission
        android:name="com.sec.android.provider.badge.permission.READ"
        tools:node="remove" />
    <uses-permission
        android:name="com.sec.android.provider.badge.permission.WRITE"
        tools:node="remove" />
    <uses-permission
        android:name="com.htc.launcher.permission.READ_SETTINGS"
        tools:node="remove" />
    <uses-permission
        android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"
        tools:node="remove" />
    <uses-permission
        android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"
        tools:node="remove" />
    <uses-permission
        android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"
        tools:node="remove" />
    <uses-permission
        android:name="com.anddoes.launcher.permission.UPDATE_COUNT"
        tools:node="remove" />
    <uses-permission
        android:name="com.majeur.launcher.permission.UPDATE_BADGE"
        tools:node="remove" />
    <uses-permission
        android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"
        tools:node="remove" />
    <uses-permission
        android:name="com.huawei.android.launcher.permission.READ_SETTINGS"
        tools:node="remove" />
    <uses-permission
        android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.READ_APP_BADGE"
        tools:node="remove" />
    <uses-permission
        android:name="com.oppo.launcher.permission.READ_SETTINGS"
        tools:node="remove" />
    <uses-permission
        android:name="com.oppo.launcher.permission.WRITE_SETTINGS"
        tools:node="remove" />
    <uses-permission
        android:name="me.everything.badger.permission.BADGE_COUNT_READ"
        tools:node="remove" />
    <uses-permission
        android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"
        tools:node="remove" />

    <application tools:ignore="GoogleAppIndexingWarning">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.adpdigital.push.client.SHOW_ONLY_CHABOK_NOTIFICATIONS"
            android:value="ENABLE" />

        <meta-data
            android:name="com.adpdigital.push.client.BadgeCount"
            android:value="DISABLE" />

        <provider
            android:name=".ChabokProvider"
            android:authorities="${applicationId}.chabok_feature.initializationProvider"
            android:exported="false"
            android:initOrder="960" />

    </application>

</manifest>
